body {
  margin: 0;
  background: #111;
  font-family: 'Segoe UI', sans-serif;
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 32px;
  color: #ffcc00;
  text-shadow: 0 0 15px #ffcc00;
}

button, select, input[type=color], input[type=range] {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  transition: all 0.2s ease;
}

button {
  background: linear-gradient(90deg, #ff4444, #ffcc00);
  color: #000;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, #ff6666, #ffee55);
  transform: scale(1.05);
}

canvas {
  border: 4px solid #ffcc00;
  image-rendering: pixelated;
  margin-top: 20px;
}

#loadingScreen {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: radial-gradient(circle at center, #222, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffcc00;
  font-size: 32px;
  text-shadow: 0 0 15px #ffcc00;
  z-index: 9999;
}
#loadingScreen p {
  font-size: 20px;
  color: #eee;
  margin-top: 10px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 15px #4c00ff);
  animation: pulse 5s infinite ;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}